body {
  background-color: #475569;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

nav {
  color: #e2e8f0;
  display: flex;
  flex-direction: column;
  height: 12rem;
  background-color: rgb(100, 116, 139);
  align-items: center;
  justify-content: center;
}

nav h1 {
  font-size: 4rem;
  margin: 0;
}

button {
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  padding: 5px 5px;
}

.search-bar {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-bottom: 1rem;
}

#search-field {
  text-align: center;
  border-radius: 20px;
  width: 20rem;
  height: 2rem;
  font-size: 1rem;
  font-weight: 800;
}

.search-results {
  color: #e2e8f0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  margin: 2rem 4rem;
  background-color: rgb(100, 116, 139);
  background-size: cover;
  padding: 1rem 1rem;
  gap: 1rem;
  border-radius: 2rem;
}

.movie {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 2rem;
  height: 100%;
  border-radius: 2rem;
  background-color: #0c4a6e;
}

.movie-poster {
  border-radius: 20px;
}

.movie h1,
p {
  margin: 0;
}

.movie h1 {
  font-size: 1.25rem;
}

.movie:hover h1,
.movie:focus h1 {
  font-size: 1.4rem;
  transition: font-size 1s ease-out;
}

.info {
  display: flex;
  height: 6rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.movie-title {
  text-align: center;
}

.next-page {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 4rem;
  background-color: darksalmon;
  margin: 3rem 4rem;
  padding: 1rem 0;
}

.next-page button {
  height: 3rem;
}

.movie-info {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.info-box p {
  width: 15rem;
  text-align: center;
}
